/* Global Styles START */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 215px;
    position: relative;
}

a {
    text-decoration: none;
    color: none;
    color: inherit;
}

.hover:hover {
    cursor: pointer;
    color: rgb(25, 0, 255);
    transform: scale(1.15);
    transition: 0.2s;
    font-weight: 600;
    border-radius: 15px;

}

.hover--roud-arrow:hover {
    transform: translate(-50%, 0) scale(1.15);
}

.focus:focus {
    border: 1px dotted chartreuse;
    border-radius: 5px;
    background-color: rgb(127, 255, 212, 0.6);
}

.todo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(124, 252, 0, 0.15);
    border-radius: 5px;
    color: green;
    height: 643px;
}

.main__section:nth-child(2) .todo {
    height: 564px;

}

.main__section:nth-child(3) .todo {
    height: 438px;

}

.round-arrow {
    /* display: block; */
    width: 40px;
    height: 40px;
    color: white;
}

.round-arrow__round {
    width: 100%;
    height: 100%;
}

.round-arrow__arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 21.46%;
    height: 15.02%;
}

/* Global Styles END */

/* Scroll decorate START */
body {
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

/* Scroll decorate END */





/* Header START */
.header {
    background-image: url('../img/Header-background.jpg');
    background-size: cover;
}

.header__container {
    background-image: url('../img/Header-background-fon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 53px;
}

.header__logo {
    width: 241px;
    height: 54px;
}

.header__menu-row {
    display: flex;
    gap: 93px;
    flex-wrap: wrap;
}

.header__menu-item {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    --class-item-bg: #FFFFFF;
    color: var(--class-item-bg);

    text-transform: uppercase;
    list-style: none;
}

.header__menu-social {
    display: flex;
    gap: 20px;
    list-style: none;
    color: white;
}

.header__round-arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;
}

.header .swiper {
    margin-top: -35px;
    margin-left: -159px;
    width: 129% !important;
}

.header .swiper-pagination {
    right: 16px;
    top: 52%;
}

.header .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-bottom: 40px;
}

/* Header END */


/* Main START */
.main__container {}

.main__section-container {
    padding-top: 100px;
    padding-bottom: 150px;
}

.main__boldLine {
    width: 100px;
    border: 1px solid #2C4058;

    margin: 0 auto;
    margin-bottom: 30px;
}

.main__section:nth-child(2n) .main__boldLine {
    border: 1px solid #FFFFFF;
}

.main__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    /* identical to box height */
    text-align: center;
    color: #2C4058;

    margin-bottom: 90px;
}

.main__section:nth-child(2n) .main__title {
    color: #FFFFFF;
}

.main__section:first-child .main__title:first-child {
    margin-bottom: 147px;
}

.main__section-row {
    display: flex;
    gap: 70px;
    margin-bottom: 177px;
}

.main__section-container .main__section-row:nth-child(2n) {
    flex-direction: row-reverse;
    gap: 64px;
}

.main__section-row:last-child {
    margin-bottom: 0;
}

.main__section-images {
    position: relative;
    /* padding-top: 57px;
    padding-left: 215px; */
}

.main__section-images-img-pre {
    position: absolute;
    top: -57px;
    left: -215px;
    max-width: 585px;
    z-index: -1;
}

.main__section .main__section-row:nth-child(2n) .main__section-images-img-pre {
    left: auto;
    right: -215px;
}

.main__section-images-img {
    max-width: 630px;
}

.main__section-title {
    padding-top: 94px;
}

.main__section-title-pretitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    color: #2C4058;
}

.main__section-title-title {
    text-align: left;
    margin-top: -1px;
    margin-bottom: 19px;
}

.main__section-title-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    color: #2C4058;

    margin-bottom: 40px;
}

.section-title-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #000000;

    width: 190px;
    height: 50px;
    margin-bottom: 60px;
}

.section-title-location {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}





/*section 2 start*/
.main__section:nth-child(2n) {
    background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
}

.latest-news .container {
    background-image: url('../img/LATEST-NEWS-background-fon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom
}

.latest-news .main__section-container {
    padding-top: 120px;
    padding-bottom: 120px;
}

.latest-news .swiper {
    width: 120%;
    height: 628px;
    margin-left: -118px;
    margin-top: -56px;
}

.latest-news .swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.latest-news .swiper-pagination-bullet-active {
    background: red;
}

.latest-news .swiper-button-next::after {
    content: none;
}

.latest-news .swiper-button-prev::after {
    content: none;
}

.latest-news .swiper-button__arrow {
    width: 6px;
    height: 16px;
}

.swiper-slide-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
}

.swiper-slide-item {
    text-align: left;
    width: 370px;
    height: 514px;
    background: #FFFFFF;
}

.swiper-slide-item-img {
    width: 370px !important;
    height: 240px !important;
}

.swiper-slide-item-container {
    padding: 30px 20px;
}

.swiper-slide-item-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #2C4058;

    margin-bottom: 15px;
}

.swiper-slide-item-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #2C4058;

    margin-bottom: 39px;
}

.swiper-slide-item-author-avatar {
    width: 60px !important;
    height: 60px !important;
    border-radius: 30px;
}

.swiper-slide-item-author-row {
    display: flex;
    gap: 20px;
}

.swiper-slide-item-author-text-row {
    flex-direction: column;
}

.swiper-slide-item-author-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #2C4058;

    margin-bottom: 6px;
}

.swiper-slide-item-author-date {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #55B7FF;
}

/*section 2 end*/





/*section 3 start*/

.galery .main__section-container {
    padding-top: 150px;
    padding-bottom: 150px;
}

.galery .main__section-row {
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.galery .section-title-button {
    margin: 0px;
}

.main__section-img {
    width: 100%;
}

/*section 3 end*/





/*section 4 start*/
.map {
    position: relative;
}

.map .main__section-container {}

.main__section-map {
    display: block;
    margin: 0 auto;
    width: 99.5vw;
    height: 700px;
}

/*section 4 end*/





/*section 5 start*/
.window {
    width: 770px;
    height: 450px;
    background: #FFFFFF;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -67%);
    z-index: 99;
    /* visibility: hidden; */
}

.get-in-touch .main__section-container {
    padding-top: 60px;
    padding-bottom: 68px;
    padding-left: 60px;
    padding-right: 60px;
}

.get-in-touch .main__title {
    margin-bottom: 42px;
}

.get-in-touch .main__section-row {
    gap: 54px;
}

.main__section-contacts-item {
    font-style: normal;
    margin-bottom: 36px;
}

.main__section-contacts-item:last-child {
    margin-bottom: 0;
}

.get-in-touch b {
    margin-right: 5px;
}

.get-in-touch svg {
    display: inline;
    margin-right: 15px;
}

/*section 5 end*/



/*Form START*/
.form__container {
    display: flex;
    flex-direction: column;
}

.form input {
    display: block;
}

.form__input-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */
    color: #000000;

    border: none;
    opacity: 0.2;
    border-bottom: 1px solid #2C4058;
    padding: 0 0 14px 0;
    margin-bottom: 33px;
    width: 310px;
    ;
}

.form__input-text:nth-child(2) {
    margin-bottom: 30px;
}

.form__input-text:focus {
    outline: none;
    opacity: 1;
}

.form__button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */

    color: #000000;
    width: 140px;
    height: 50px;
    border: 1px solid #2C4058;

    align-self: flex-end;
}

/*Form END*/
/* Main END */




/* Footer START */
.footer {
    background: linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
}

.footer__container {
    background-image: url('../img/Footer-background-fon.svg');
    padding: 203px 415px 234px;
}

.header__menu--footer {
    padding: 0;
    margin-bottom: 41px;
}

.footer__copyright {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #FFFFFF;
}

/* Footer END */


.swiper {
    /* width: 100%;
    height: 100%; */

    width: 100%;
    height: 643px;
    /*overflow: hidden;*/
    /* display: flex;
    justify-content: center;
    align-items: center; */

    /* background-color: rgb(124, 252, 0, 0.15);
    border-radius: 5px;
    color: green; */

}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-bottom: 40px;
    /* background: #FFFFFF; */
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: none;
    opacity: 1;
    border: 1px solid #ffffff;
}



.mySwiper__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    /* identical to box height */
    letter-spacing: 0.1em;
    color: #FFFFFF;

    /* margin-top: 223px; */
}

.mySwiper__title--post-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 0.3em;
    margin-top: 20px;
}