/*-----RESET CSS Start-----*/
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

textarea {
    display: block;
    margin-bottom: 10px;
  }
button{
    display: block;
    margin:15px 0;
    border-radius:10px;
    padding:2px;
    min-width:50px;
}
button:hover{       
    cursor:pointer;
}

ol{
    margin-left: 20px; 
}
ul{
    list-style: circle;/*перекриває глобальний стиль що підкл зі стилів юнітів*/
}
textarea{
    width:70%;
}
/*-----RESET CSS End-----*/





/*-----GLOBAL CSS Start-----*/
.wrapper{
    display: flex; 
    flex-direction: column; 
    height: 100vh;
}
.container{
    padding: 20px 20px;
}

.main{
    /* flex-grow: 1; */
} 
.footer{
    margin-top: auto; 
    background-color: blueviolet;
} 

.link{
    text-decoration: none;
    color:blue;
}
.link:hover{
        cursor:pointer;
        border-radius:15px;
        padding: 0 4px;
        background-color:orange;
}
/*-----GLOBAL CSS End-----*/





/*-----HEADER Start-----*/
.header__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__title{
    padding:20px 20px;
    text-align: center;
    border-radius:10px;
    background-color:gray;
    
}
.header__titleSubline{
    font-size: 14px;
    margin-bottom: 0px; /*перекриває глобальний стиль що підкл зі стилів юнітів*/
}
.header__titleLink{
    padding:10px;
}

.header__MenuLabel:hover{
    width: 100%;
}
.header__MenuLabel:hover .NavMenu{
    display:block;
    max-height: 50vh;
    overflow: scroll;
    overflow-x: hidden;
}

.NavMenu{
   /*  padding: 0 100px; */
    display: none;
    border:solid 5px green;
    background-color:rgba(128, 128, 128, 0.574);
    border-radius:8px;
}
.NavMenu__item{
    padding:10px 8px;
    font-size: 20px;
    list-style: none; 
}
.NavMenu__subtem{
    padding:0 8px;
    margin-left:40px;
    font-size: 16px;
    /* display: none; */
}
.NavMenu__itemSelected{
    border-radius:15px;
    background-color: aquamarine;
}

.NavMenu__link{
    display: block;
}
.NavMenu__link:hover{
    transform: scale(1,1.1);
    font-weight: 600;
}
/*-----HEADER End-----*/





/*-----MAIN Start-----*/
.main_title{
    margin-bottom: 30px;
    text-align: center;  
}

.taskBlock {
    padding: 20px;
    margin: 10px 0;
    border: solid 2px blue;
    border-radius: 15px;
  }

.taskBlock_title{
    margin-bottom: 15px;    
}
.taskBlock_title2{
    margin: 10px 0;
    font-weight: 400;
}

.taskBlock_inp{
    display:block;
    padding: 5px;
    margin: 10px 0;
    background-color:rgba(65, 155, 65, 0.418);
    border-radius:10px;
}
.taskBlock_out{
    display:block;
    padding: 5px;
    margin: 10px 0;
    color:rgb(233, 15, 15);
    border-radius:10px;
}
/*-----MAIN End-----*/




/*-----FOOTER Start-----*/
.footer__copyright{
    text-align: center;
    margin: 20px;
    color: white;
}
/*-----FOOTER End-----*/